@keyframes blink {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

  
body {
    font-family: 'Space Grotesk', sans-serif;
    background-image: url('img/ambientworks_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #E9E9E9;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

a {
    color: #E9E9E9;
    text-decoration: underline;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 99%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between; /* Adjusted for desktop */
    align-items: center;
    z-index: 1000;
}

.logo {
    max-height: 45px;
}

.header-content {
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.banner img {
    margin-right: 10px;
    animation: blink 4s infinite; /* Adjust the duration as needed */
}

.banner h2 {
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 1.5em;
}



h1 {
    font-size: 4em;
    font-weight: 500;
} 

h2 {
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom:8px;
} 

 .main {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* max-width: 1920px; */
    /* width: 100%; */
    height: 100vh;
}

.left {
    color: #E9E9E9;
    padding-left: 20px;
}

.title {
    padding-top: 300px;
}

.sub {
    padding-top: 20px;
}

.product {
    right: -20px;
    position: fixed;
    height: 100%;
}

.product img {
    max-height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
}

.mc-field-group {
    display: flex;
}

#mce-EMAIL {
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 70%; 
    margin-right: 10px;
}

#mce-EMAIL::placeholder {
    font-size: 1.5em; 
}

.button {
    background-color: #FF5C00;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #1b1b1b;
}

.product_mobile img {
    display: none;
}



@media screen and (max-width: 768px) {
    body {
        background-image: none;
        background-color: #808080;
    }

    .sticky-header {
        justify-content: center; 
    }

    .header-content {
        display: none; 
    }

    .banner {
        display: none; 
    }

    .product img {
        display: none;
    }

    .product_mobile {
        bottom: 0;
        position: fixed;
        height: 100%;
        z-index: -1;
    }
    
    .product_mobile img {
        display:block;
        max-height: 100%;
        width: auto;
        display: block;
        margin-left: auto;
    }
}
